<%= form_with(model: [ @band, album ], local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="input-group">
    <%= form.text_field :name, class: 'form-control' %>
    <div class="input-group-append ">
      <%= form.submit class: 'form-control btn btn-sm btn-dark'%>
    </div>
</div>
<% end %>
